<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.0.0" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="NAudio" version="1.9.0" targetFramework="net472" />
  <package id="Stanford.NLP.CoreNLP" version="3.9.2.0" targetFramework="net472" />
</packages>